* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    --color-blue-dark: #011C40;
    --color-cian-dark: #025373;
    --color-cian: #1C8DA6;
    --color-cian-light: #2CB1BF;
    --color-yellow: #E1B000;
    --color-black: #011126;
    --color-white: #FFFF;
}

body, html {
    height: 100%;
}

body {
    background-color: var(--color-black);
}

ul {
    list-style: none;
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: auto;
}

.link {
    font-size: 20px;
    color: var(--color-white);
}

.title {
    font-size: 1.75rem;
    font-weight: 500;
    margin: 24px 0;
}

.content {
    font-size: 1.5rem;
    margin: 16px 0;
}

.line {
    width: 60%;
    margin: 48px auto;
    box-shadow: 0 0 60px 5px var(--color-cian-light);
    border-radius: 50%;
    border: 2px solid var(--color-cian-light);
}

.header-page {
    width: 100%;
    padding: 24px 4%;
    background-color: var(--color-blue-dark);
}

.header-page > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-mobile {
    display: none;
}

.menu-desktop__space-links {
    display: inline-block;
    margin: 0 16px -4px 0;
}

.menu-desktop__link {
    text-decoration: none;
    transition: ease 0.3s;
}

.menu-desktop__link:hover {
    text-decoration: underline;
    color: var(--color-cian-light);
}

.app {
    width: 100%;
    padding: 48px 4%;
    text-align: center;
    position: relative;
}

.app__timer {
    width: 31.25rem;
    height: 31.25rem;
    border: 2px solid var(--color-cian-light);
    border-radius: 50%;
    display: inline-block;
    box-shadow: 0 0 60px 0 #2cb0bf3f;
    margin-top: 48px;
    color: var(--color-white);
    position: relative;
}

.app_timer__box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.app__sections {
    font-size: 2rem;
    font-weight: 500;
}

.app__btn {
    width: 160px;
    height: 42px;
    margin: 16px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    color: var(--color-white);
    font-size: 1.75rem;
    border: 0;
}

.app__coutdown {
    font-size: 2.5rem;
    font-weight: bold;
    display: block;
    margin: 24px 0;
}

.app_btn--edit {
    width: 260px;
    position: absolute;
    top: 0;
    right: 0;
}

.input-timer {
    width: 100%;
    max-width: 600px;
    margin: 48px 0;
    padding: 24px 2%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--color-cian-dark);
    lighting-color: var(--color-white);
    border-radius: 12px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

.input-timer__box {
    width: 60%;
    border: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

.input-timer__box-input > label {
    display: block;
    margin-bottom: 8px;
    font-size: 20px;
    color: var(--color-white);
}

.input-timer__input {
    width: 120px;
    height: 42px;
    border-radius: 12px;
    background-color: transparent;
    border: 3px solid var(--color-cian);
    text-align: center;
}

.input-timer__input::placeholder {
    color: var(--color-white);
}

.input-timer__btn {
    width: 42px;
    height: 42px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.input-timer__line {
    width: 3px;
    height: 160px;
    border-right: 3px solid var(--color-cian);
}

.pomo-explain {
    width: 100%;
    padding: 48px 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-white);
}

.pomo-technique {
    width: 100%;
    padding: 48px 2%;
    color: var(--color-white);
    background-color: var(--color-blue-dark);
}

.pomo-technique > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}

.pomo-explain__description, .pomo-technique__description {
    width: 100%;
    max-width: 700px;
}

.pomo-explain__img, .pomo-technique__img {
    width: 100%;
    max-width: 450px;
}

.important-explain-box {
    padding: 0 4%;
}

.important-explain {
    width: 100%;
    max-width: 800px;
    margin: 48px auto;
    padding: 24px 0;
    background-color: var(--color-yellow);
    color: var(--color-black);
    border-radius: 12px;
    text-align: center;
}

.important-explain__description {
    text-align: justify;
    padding: 0 4%;
}

.footer {
    width: 100%;
    margin-top: 48px;
    padding: 8px 8%;
    background-color: var(--color-blue-dark);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dev__subcontent {
    color: var(--color-white);
    font-size: 1.25rem;
    display: inline-block;
    margin-right: 8px;
}

.credits {
    text-align: right;
}

.dev__icon {
    font-size: 2.25rem;
    color: var(--color-white);
    margin: 0 8px;
    transition: all ease .3s;
}

.credits__link {
    font-size: 1.25rem;
    color: var(--color-white);
    display: block;
    margin: 16px 0;
    transition: all ease .3s;
}

.dev__icon:hover, .credits__link:hover {
    color: var(--color-cian-light);
}

@media (max-width: 1270px) {
    :root {
        font-size: 14px;
    }

    .pomo-explain {
        justify-content: center;
    }

    .pomo-explain__content > .title, .pomo-technique__content > .title {
        text-align: center;
    }

    .pomo-technique > .container {
        justify-content: center;
        flex-direction: column-reverse;
    }

    .pomo-explain__img {
        display: none;
    }

    .pomo-technique__img {
        margin-bottom: 32px;
    }
}

@media (max-width: 820px) {
    .line {
        width: 80%;
    }

    .footer {
        justify-content: center;
        flex-direction: column;
    }

    .credits, .dev {
        margin: 8px;
    }
}

@media (max-width: 520px) {
    :root {
        font-size: 12px;
    }

    .menu-desktop {
        display: none;
    }

    .menu-mobile {
        display: block;
    }

    .menu-mobile__menu {
        display: block;
        position: absolute;
        top: 74px;
        left: 0;
        width: 100%;
        background-color: var(--color-blue-dark);
        padding-top: 24px;
        z-index: 1000;
        height: 0;
        visibility: hidden;
        overflow-y: hidden;
        transition: all ease-in-out 0.3s;
    }

    .menu-mobile__menu--active {
        height: 200px;
        visibility: visible;
        /*overflow-y: auto;*/
    }

    .menu-mobile__btn {
        width: 32px;
        border: 0;
        border-top: 2px solid;
        background-color: transparent;
        color: var(--color-white);
        cursor: pointer;
    }

    .menu-mobile__btn::after,
    .menu-mobile__btn::before {
      content: '';
      display: block;
      width: 32px;
      height: 2px;
      background-color: currentColor;
      margin-top: 8px;
      transition: ease-in-out 0.3s;
      position: relative;
    }

    .menu-mobile__btn--active {
        border-top-color: transparent;
    }

    .menu-mobile__btn--active::before {
        transform: rotate(135deg);
    }

    .menu-mobile__btn--active::after {
      transform: rotate(-135deg);
      top: -9.5px;
    }

    .menu-mobile__space-links {
        margin: 0 4%;
        padding: 16px 2%;
        border-bottom: 1px solid var(--color-white);
    }

    .menu-mobile__space-links:last-child {
        border-bottom: 0;
    }

    .menu-mobile__space-links > .link {
        text-decoration: none;
    }

    .app_btn--edit {
        width: 200px;
    }

    
    .app__btn {
        margin: 8px 0;
    }

    .input-timer {
        flex-direction: column;
    }

    .input-timer__line {
        width: 80%;
        height: 3px;
        border-top: 3px solid var(--color-cian);
        margin: 24px 0;
    }

    .important-explain {
        padding: 8px 0;
    }

    .dev, .credits {
        text-align: center;
    }

    .dev__subcontent {
        display: block;
        margin-bottom: 16px;
        margin-right: 0;
    } 
}

@media (max-width: 420px) {
    :root {
        font-size: 10px;
    }

    .app__timer {
        width: 28rem;
        height: 28rem;
    }

    .app__btn {
        margin: 0;
    }

    .app__coutdown {
        font-size: 2.2rem;
    }

    .input-timer__box {
        width: 80%;
    }
}

@media (max-width: 378px) {
    :root {
        font-size: 10px;
    }
}

@media (max-width: 320px) {
    .app__timer {
        width: 100%;
        max-width: 28rem;
    }

    .app__coutdown {
        font-size: 2rem;
        margin: 16px 0;
    }
}
